* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    transition: .4s;
}

.block-general {
    padding-top: 100px;
}

.block {
    margin-bottom: 25px;
}